.hero{
     height: 100vh;
     background: linear-gradient(180deg,#fde1ff,#e1ffea 60%);
     display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
   padding-left: 180px;
    gap: 20px;
    line-height: 1.1;


}
.hero-left h2{
     color: #090909;
      font-size: 26px;
      font-weight: 5px;
}
.hero-left p{
     color: #171717;
     font-size: 100px;
     font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap:20px;

}
.hero-hand-icon img{
    width:105px
}
.hero-lastest-icon{
 display:flex ;
 justify-content: center;
 align-items:center ;
 gap: 15px;
width: 310px;
height: 70px;
margin-top: 30px;
background: #ff4141;
color: white;
font-size: 22px;

}
.hero-right{
     flex:1;
     display: flex;
     align-items: center;
     justify-content: center;
}
.hero-right img{
    width: 70%;
}
@media(max-width:1280px){
     .hero-left{
    padding-left: 100px;
     }
     .hero-left h2{
         font-size: 22px;
     }
     .hero-left p{
         font-size: 60px;
     }
}
@media(max-width:1024px){
     .hero-left{
         padding-left: 100px;

     }
     .hero-left h2{
     font-size: 18px;
     }
     .hero-left p{
        font-size:60px ;
     }
}
  