.newsletter{
    width: 65%;
    height:45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 30px;
    padding: 0px 140px ;
    margin-bottom: 150px;
    background: linear-gradient(180deg,#fde1ff 0%,#e1ffea22 60%);
}
.newsletter h1{
     font-size: 30px;font-weight: 500;
     color: #454545;

}
.newsletter p{
     font-size: 20px;
     color: #454545;
}
.newsletter div{
     display: flex;
     align-items: center;
     justify-content: space-between;
     background:white;
     width:730px;
     height: 70px;
     border-radius: 80px;
     border: 1px solid #e3e3e3;

}
.newsletter input{
      width: 500px;
      margin-left:30px;
      border:none;
      outline: none;
      color: #616161;
      font-family: Poppins;
      font-size: 16px;
     
}
.newsletter div button{
      width: 250px;
      height: 70px;
      border-radius:80px;
      background: black;
      color: white;
      font-size: 16px;
      cursor: pointer;


}
@media(max-width:1280px){
      .newsletter{
           padding:0px 80px;
           margin-bottom: 120px;
            gap: 20px;
      }
      .newsletter h1 {
           font-size: 36px;
      }
      .newsletter p{
           font-size: 20px;
      }
      .newsletter div{
           width:  600px ;
            height:  60px;
      }
      .newsletter div input{
           width:  400px;
            
      }
       .newsletter div button{
          width:160px;
          height: 60px;
       }
}
@media(max-width:1024px){
     .newsletter{
        
          margin-bottom: 60px;
          
     }
     .newsletter h1 {
          font-size: 29px;
     }
     .newsletter p{
          font-size: 14px;
     }
     .newsletter div{
          width:  500px ;
           height:  50px;
     }
     .newsletter div input{
          width:  300px;
           font-size: 14px;
          
           
     }
      .newsletter div button{
         width:120px;
         height:60px;
          font-size:15px
      }
}
@media(max-width:800px){
     .newsletter{
        
          margin-bottom: 30px;
          height: 35vh;
          
     }
     .newsletter h1 {
          font-size: 18px;
     }
     .newsletter p{
          font-size: 12px;
     }
     .newsletter div{
          width:  400px ;
           height:  40px;
     }
     .newsletter div input{
          width:  200px;
           font-size: 12px;
          
           
     }
      .newsletter div button{
         width:100px;
         height:40px;
          font-size:13px
      }
}
@media(max-width:500px){
     .newsletter{
        
width:90%;
padding:0;
gap:15px;
height: 25vh;
          
     }
     .newsletter h1 {
          font-size: 16px;
     }
     .newsletter p{
          font-size: 13px;
          align-items: center;
     }
     .newsletter div{
          width:  200px ;
           height:  40px;
          
     }
     .newsletter div input{
          width:  120px;
           font-size: 12px;
          
           
     }
      /* .newsletter div button{
         width:75px;
         height:25px;
          font-size:11px
      } */
}