.offers{
     width:65%;
     gap: 40px;
     height: 65vh;
      display: flex;
      margin: auto;
      padding: 0px 150px ;
     margin-bottom: 550px;
  background: linear-gradient(180deg,#fde1ff 10%,#e1ffea22 60%);

}
.offers-left{
     flex:1;
     display: flex;
     flex-direction: column;
     justify-content: center;

}
.offers-left h1{
     color: #171717;
     font-size: 80px;
     font-weight: 600;
}
.offers-left p{
     color:#171717;
      font-size: 22px;
      font-weight: 600;
      
}
.offers-left button{
     width: 282px;
     height: 75px;
     border-radius: 35px;
     background-color: #ff4141;
     border: none;
     color: white;
     font-size: 30px;
     font-style: oblique;
     cursor: pointer;
}
.offers-right{
      flex:1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 50px;
}
@media(max-width:1280px){
      .offers{
           padding:0px 80px;
            margin-bottom: 120px;
      }
      .offers-left{
           gap: 10px;
      }
      .offers-left h1 {
           font-size: 40px;
      }
      .offers-left p{
           font-size:15px ;
      }
      .offers-right img{
           width:300px
      }
      .offers-left button{
           width:220px;
           height:50px;
           font-size: 18px;
      }
      .offers-right {
           padding-top: 30px;
      }
}
@media(max-width:1024px){
      .offers{
           padding:0px 80px;
            margin-bottom: 80px;
            height: 40vh;
      }
      .offers-left{
           gap: 10px;
      }
      .offers-left h1 {
           font-size: 30px;
      }
      .offers-left p{
           font-size:13px ;
      }
      .offers-right img{
           width:200px;
           
      }
      .offers-left button{
           width:180px;
           height:30px;
           font-size: 14px;
      }
      .offers-right {
           padding-top: 10px;
      }
}
@media(max-width:800px){
     .offers{
          
           margin-bottom: 60px;
         
     }
     .offers-left{
          gap: 10px;
     }
     .offers-left h1 {
          font-size: 22px;
     }
     .offers-left p{
          font-size:13px ;
     }
     .offers-right img{
          width:100px;
          
     }
     .offers-left button{
          width:120px;
          height:20px;
          font-size: 12px;
     }
  
}
@media(max-width:500px){
      .offers{
          height: 25vh;
           display:flex;
            
      }.offers-left{
            gap:10px;
            
              padding-top: 40px;
      }.offers-left h1{
          font-size: 13px;
          font-weight: 13px;
      }
      .offers-left p{
           font-size: 10px;
            /* font-weight: 13px; */
      }
      .offers-left button{
           width:80px;
      }
      
      .offers-right img{
width: 95px;
padding-top: 40px;
      }
}